extend layout

block content
  #about-us
    h3.Cormorant-Garamond About Us
    .about-us1
      .about-us1-text
        p こんな部屋に住んでみたいけど私には無理と思っていませんか？あなたの夢叶います！我々、Interior Life Planingでは、インテリアコーディネーターの資格を持った社員があなたの理想の部屋を作り上げます！
      .about-us1-image
        img(src="images/top5.jpg")
    .about-us2
      .about-us2-image
        img(src="images/top.jpg")
      .about-us2-text
    .about-us3
      .about-us3-text
        p
      .about-us3-image
        img(src="images/top6.jpg")

  #before-after
    h3.Cormorant-Garamond Before & After
    .before-after-image
     img(src="images/mainvis03.jpg")