doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap", rel="stylesheet")
  body
    header
      .header-box
      .header-menu
        ul.Cormorant-Garamond
          li About Us
          li Before & After
          li Users Voice
          li FAQ
          li Contact
          li Request
      h2.header-title.Cormorant-Garamond Interior Life Planing
    main
        block content
