/* 全体の設定 */
body {
  margin: 0;
}

.Cormorant-Garamond {
  font-family: "Abril Fatface", cursive;
  font-family: "Cormorant Garamond", serif;
}

/*------------------------------------
 header
 --------------------------------------*/
header {
  height: 500px;
  background: #ddd url("/images/top4.jpg") no-repeat center center;
  background-size: cover;
}

.header-menu ul {
  color: white;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 0;
}

.header-menu li {
  margin: 20px 30px 0 30px;
}

.header-menu li:hover {
  opacity: 0.7;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
}

.header-title {
  clear: left;
  color: whitesmoke;
  font-size: 100px;
  text-align: center;
  letter-spacing: 0.5rem;
}

/*------------------------------------
 main
 --------------------------------------*/

/* About Us */
#about-us {
  background-color: moccasin;
  padding-top: 20px;
}

#about-us h3 {
  font-size: 30px;
  text-align: center;
}

.about-us1,
.about-us2,
.about-us3 {
  display: flex;
  margin-top: 120px;
  padding-bottom: 100px;
}

.about-us1-text,
.about-us2-text,
.about-us3-text {
  flex: 1;
}

.about-us1-image,
.about-us2-image,
.about-us3-image {
  flex: 1;
}

.about-us2-image img,
.about-us1-image img,
.about-us3-image img {
  border-radius: 50%;
}

/* Before & After */
#before-after {
  margin-top: 0;
  background-color: antiquewhite;
  height: 100vh;
}

#before-after h3 {
  margin-top: 0;
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
}

.before-after-image img {
  width: 80%;
}

.before-after-image {
  padding-top: 20px;
  text-align: center;
}
